@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

/* ========================= */
/* PALETA */
/* ========================= */

:root {
  /* FUNDOS */

  --bg-main: #161928;
  --bg-section: #2E1C50;
  --bg-card: #3E2871;
  --bg-card-hover: #453B80;

  /* DETALHES */

  --primary: #4A5492;
  --secondary: #5B68AC;

  /* DOURADOS */

  --gold: #F2AA1A;
  --gold-dark: #DDAA41;
  --gold-light: #F9C86B;
  --gold-soft: #FCE0A1;

  /* TEXTOS */

  --text: #FFFFFF;
  --text-soft: #d7d7d7;

}

/* ========================= */
/* RESET */
/* ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: var(--text);

  background:
    radial-gradient(
      circle at top,
      var(--bg-card) 0%,
      var(--bg-section) 45%,
      var(--bg-main) 100%
    );
}

/* ========================= */
/* STARS */
/* ========================= */

.stars {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background-image:
    radial-gradient(
      var(--gold-soft) 1px,
      transparent 1px
    );

  background-size: 90px 90px;
  opacity: .18;
}

/* ========================= */
/* ANIMAÇÃO DE SURGIR */
/* ========================= */

.surgir {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.8s ease;
}

.surgir.active {
  opacity: 1;
  transform: translateX(0);
}

/* ========================= */
/* DIVISOR */
/* ========================= */

.divider {
  position: relative;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 13.5em;
}

.divider::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
}

.divider img {
  position: relative;

  width: 100px;
  height: auto;
  padding: 0 10px;

  z-index: 2;
  border-radius: 50%;
}

 .divider img {
  background: #2b1c4b;
}


/* ========================= */
/* HERO */
/* ========================= */

.hero-container {
  position: relative;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sobre-label {
  display: inline-flex;
  align-items: left;
  gap: 14px;

  font-size: 0.75rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--text-soft);

  margin-bottom: 20px;
}


.hero {
  min-height: 100vh;

  display: flex;
  align-items: left;
  justify-content: space-between;

  padding:
    150px 90px 80px;
}

.hero-text {
  width: 100%;
  text-align: left;
  padding-top: 130px;
}

.hero-container h1 {
  font-size: 8rem;
  line-height: .95;
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  left:-30%;
}

#nome-ong {
  color: var(--gold-light);
  padding-left: 40px;
  margin-top: 7%;
}

#descricao-ong {
  margin-top: 30px;

  line-height: 1.8;

  color: var(--text-soft);

  font-size: 1.1rem;
  padding-left: 40px;
  margin-top: 2%;
}
#categoria {
  color: var(--text-soft);
  font-weight: 600;
  padding-left: 60px;
  margin-top: 6%;
  position: absolute;
}
#Doacao {
  background: #261b42;
  color: var(--text-soft);
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid var(--gold);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.6s ease;
  margin-left: 40px;
  width: 400px;
  height: 50px;
  font-size: 1.5rem;
  font-family: 'times new roman', serif;
  position: absolute;
  padding-left: 110px;

}
#Doacao:hover {
  background: linear-gradient(to right, var(--gold), var(--text-soft));
  color: var(--bg-main);
  border: 1px solid #261b42;
}
.infos-ong {
  margin-top: 5%;
}
/* ========================= */
/* CARROSSEL */
/* ========================= */
.carrossel {
    width: 46%;
    height: 550px;
    overflow: hidden;
    border-radius: 28px;
    position: absolute;
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 8%,
        black 92%,
        transparent 100%
    );
    left: 50%;
    bottom: 20em;
}

.carrossel-track {
    display: flex;
    height: 100%;
    transition: transform 1.2s ease-in-out;
}

.carrossel img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

/* ========================= */
/* detalhes da ong */
/* ========================= */

.sobre-ong {
  display: flex;
  align-items: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 7%;
  height: 50vh;
  width: 100%;

}

.sobre-text p {
  width: 50%;
  text-align: left;
  padding-left: 40px;
  bottom: 100%;
  position:absolute;
}

.sobre-label h2 {
  display: inline-flex;
  align-items: left;
  gap: 14px;
  font-size: 2.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--gold-light);
  bottom: 125%;
  position: absolute;
  padding-left: 40px;
  font-family: 'Cormorant Garamond', serif;
}
.divider-doacao {
  position: relative;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 7em;
}
.divider-doacao::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
}

#Doacao-footer {
  background: #261b42;
  color: var(--text-soft);
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid var(--gold);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.6s ease;
  margin-left: 40px;
  width: 450px;
  height: 50px;
  font-size: 1.5rem;
  font-family: 'times new roman', serif;
  position: absolute;
  padding-left: 110px;
  padding-right: 110px;
  bottom: 3em;
  z-index: 9999;
}
#Doacao-footer:hover {
  background: linear-gradient(to right, var(--gold), var(--text-soft));
  color: var(--bg-main);
  border: 1px solid #261b42;
}

/* ========================= */
/*ods */
/* ========================= */

.ods-container {
  padding-left: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  text-align: right;
  gap: 20px;
  bottom: 15em;
  position: absolute;
}
.ods-container h2{
  color: var(--text-soft);
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  bottom: 12em;
}
.ods-item img{
width: 150px;

}
.ods{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 6.5em;
}
.compartilhar{
  position: absolute;
  bottom: 6em;
  left: 70%;
  text-decoration: underline;
  color: var(--primary);
  z-index: 999;
}
.compartilhar:hover{
  color: var(--text-soft);
}
#regiao{
  color: rgb(173, 170, 170);
  font-weight: 600;
  padding-left: 83%;
  margin-top: 6%;
  position: absolute;
  bottom: 4em;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  z-index: 99;
}
