@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
:root {

  /* FUNDOS */

  --bg-main: #111d5b;
  --bg-section: #2E1C50;
  --bg-card: #3E2871;
  --bg-card-hover: #453B80;
  --dark-contrast: #160738;
  /* DETALHES */

  --primary: #4A5492;
  --secondary: #5B68AC;

  /* DOURADOS */

  --gold: #F2AA1A;
  --gold-dark: #DDAA41;
  --gold-light: #F9C86B;
  --gold-soft: #FCE0A1;
  --dark-contrast-gold: #918805;

    /*ROXOS*/
    

  /* TEXTOS */

  --text: #FFFFFF;
  --text-soft: #d7d7d7;

}

/* ========================= */
/* RESET */
/* ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background:
    radial-gradient(circle at top,
      var(--bg-card) 100%,
      var(--bg-section) 45%,
      var(--bg-main) 0%);
      overflow: hidden;
}
.perfil-header {
    position:relative;
    margin-top: 8%;
    left: 3%;
  
}
.circle {
    width: 190px;
    height: 190px;
    border: 0.5px solid #ebc132;
    border-radius: 50%;
    position: relative;
    overflow: visible;
    margin-left: 20px;
}

.rectangle {
    width: 600px;
    height: auto;
    border-radius: 40px;
    clip-path: polygon(100% 0%, 100% 40%, 100% 100%, 0 100%, 0% 50%, 0 0);
    background: var(--dark-contrast);
      z-index: 10;
      padding: 20px;
        display: flex;
    align-items: flex-start;

     
}
.info-perfil {
   padding-top: 3%;
   margin-left: 100px;
   margin-bottom: 20px;
}
.info-perfil h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: #ebc132;
    margin-bottom: 10px;
}
.info-perfil p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ebc132;      
}
.perfil-img> input {
   display: none;
}
#img-perfil {
    width: 58px;
    height: 58px;
    border-radius: 2%;
    cursor: pointer;
    z-index: 10;
    margin-left: 132px;
    margin-top: 0px;
     position: absolute;
}
#circle-default-img {
    width: 80px;
    height: 80px;
    margin-top: 50px;
    margin-left: 55px;
}